<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com" xmlns:each="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Owners</title>
</head>
<!--/*@thymesVar id="Owner" type="com.jlpartee.sfgpetclinic.model.Owner"*/-->
<body>
    <h1 th:text="'List Of Owners'">List Of Owners...</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="owner : ${owners}">
            <td th:text="${owner.id}">1</td>
            <td th:text="${owner.firstName}">Bill</td>
            <td th:text="${owner.lastName}">Paxton</td>
        </tr>
    </tbody>
</table>
</body>
</html>